.aboutPage {
  height: 80vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  min-height: 50vh;
  max-height: 80vh;
  overflow: auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.aboutContainer.show {
  opacity: 1;
  transform: translateY(0);
}

.leftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #fffff7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nameContainer {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.nameHeader {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #38556de0;
  margin-bottom: 0px;
}

.nicknameHeader {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  color: #5e7d97e0;
  margin-bottom: 0px;
}

.description {
  font-size: 1rem;
  color: #6e6e6e;
  line-height: 1.5;
}

.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 500px;
  max-width: 500px;
  margin: 0 auto;
}

.cyclingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

@media (max-width: 768px) {
  .aboutContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
    height: auto;
    max-height: none;
    padding: 1rem;
  }

  .leftBox,
  .rightBox {
    padding: 16px;
  }

  .nameHeader {
    font-size: 2rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .rightBox {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .aboutContainer {
    padding: 0.5rem;
    min-height: auto;
  }

  .rightBox {
    max-width: 250px;
    max-height: 250px;
    padding: 8px;
  }

  .cyclingImage {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 320px) {
  .rightBox {
    max-width: 200px;
    max-height: 200px;
  }
}