.boldHeader {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: #38556de0;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    animation: fadeBlur 1s ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes fadeBlur {
    0% {
      backdrop-filter: blur(0px);
    }
    50% {
      backdrop-filter: blur(20px);
    }
  }

  .wip {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #38556de0;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
  }

  .wip a {
    color: #4086c0e0;
    transition: color 0.3s ease;
  }

  .wip a:hover {
    color: #1a2632;
  }

  @media (max-width: 768px) {
    .boldHeader {
      font-size: 2rem;
    }

    .wip {
      font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    .boldHeader {
      font-size: 1.5rem;
    }

    .wip {
      font-size: 0.8rem;
    }
  }