.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.boldHeader {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  color: #38556de0;
  font-size: 12rem;
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition: ease all 0.5s;
}

.fadeUp {
  opacity: 1;
  transform: translateY(-300px);
}

@media (max-width: 1800px) {
  .boldHeader {
    font-size: 8rem;
  }
}

@media (max-width: 1200px) {
  .boldHeader {
    font-size: 5rem;
  }
}